#about {
  padding: 10em 10em;
  background: rgb(255, 255, 255);
  text-align: left;
  display: none;
}

#about .container {
  display: flex;
  padding: 5em 5em;
  box-shadow: 3px 3px 10px 1px #ccc;
}

.about-text {
  padding: 0 8em;
}