.card {
  width: 30em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  position: relative;
}

.card-text {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50%;

}

.card img {
  width: 100%;
}

.card:hover > .card-text{

}

.platform-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 4em;
}

.platform-icons img {
  transform: scale(.8);
  padding: 10px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 50%;
  transition: all .3s ease;
}