/* GLOBALS */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('reset.css');

:root {
  --primary-yellow: rgb(253, 239, 158);
  --primary-grey: #1E2827;
  --radius: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: var(--primary-grey);
}

section {
  padding: 40px;
  height: 100vh;
  position: relative;
}

.parallax {
  height: 50vh;
}

.parallax-1 {
  background: url("../img/backgrounds/andreas-dress-1549790-unsplash.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin-bottom: 20px;
  line-height: 1.4;
}

p:last-child {
  margin-bottom: 0;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  padding: 1em 2em;
  transition: all .3s ease-out;
}

.navbar.shown {
  background: #1D2726;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: rgb(202, 202, 202);
  transition: all .3s ease;
  position: relative;
  letter-spacing: 2px;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-link:hover {
  color: #fff;
}

.hero {
  padding: 0;
}

.hero-main-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
  background: var(--primary-grey) url("../img/backgrounds/joseph-pearson-433773-unsplash.jpg") no-repeat center;
  background-size: cover;
}

.hero-container {
  display: flex;
  position: relative;
  width: 50vw;
  height: 450px;
  top: 30%;
  left: 10vw;
  box-shadow: 0 0 10px 0 rgb(122, 122, 122);
}

.hero-container-img {
  width: 40%;
  background: var(--primary-grey) url("../img/portraits/portrait-06.jpg") no-repeat center;
  background-size: cover;
}

.hero-container-text {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0 4em;
  text-align: left;
  background: #fff;
}

/* ======================== Games ======================*/

#games {
  position: relative;
  height: 100vh;
  background: var(--primary-grey);
}

.games-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game {
  position: relative;
  width: 100px;
  height: 300px;
  margin: 0 5px;
  border-radius: 75px;
  transition: all .5s;
  filter: grayscale(.7);
  overflow: hidden;
}

.game:nth-child(1) {
  background: url("../img/dc-icon.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.game:nth-child(2) {
  background: url("../img/cd-icon.jpg") no-repeat 80% 50%;
  background-size: cover;
}

.game:nth-child(3) {
 background: url("../img/dcm-icon.jpg") no-repeat 40% 50%; 
 background-size: cover;
}

.game:nth-child(4) {
  background: url("../img/lod-icon.jpg") no-repeat 95% 50%;
  background-size: cover;  
}

.game:nth-child(5) {
  background: url("../img/ml-icon.jpg") no-repeat 50% 50%;
  background-size: cover;  
}

.game:nth-child(6) {
  background: url("../img/wc-icon.jpg") no-repeat 50% 50%;
  background-size: cover;  
}

.game:nth-child(7) {
  background: url("../img/dl-icon.jpg") no-repeat 70% 50%;
  background-size: cover;  
}

.game:nth-child(8) {
  background: url("../img/tt-icon.png") no-repeat 60% 50%;
  background-size: cover;  
}

.game:nth-child(9) {
  background: url("../img/jh-icon.jpg") no-repeat 70% 50%;
  background-size: cover;  
}

.game:nth-child(odd) {
  margin-top: -30px;
}

.game:nth-child(even) {
  margin-top: 30px;
}

.game:hover {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  filter: none;
}

.game > img {
  height: 100%;
}

/* =============================== Contact ==================================*/

#contact {
  padding: 0;
  display: flex;
}

.contact-img-wrapper {
  height: 100vh;
  width: 50vw;
  background: var(--primary-grey) url("../img/backgrounds/joseph-pearson-433773-unsplash.jpg") no-repeat center;
  background-size: cover;
}

.contact-form-wrapper {
  width: 50%;
  position: relative;
}

.contact-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.contact-form > h1 {
  margin-bottom: 1.5em;
  font-size: 2.5em;
}

input,
textarea {
  margin-bottom: 1.5em;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  padding: .5em;
}

input:focus {
  outline: 2px solid lightskyblue;
  border-radius: 5px;
}

input:last-child {
  margin-bottom: 0;
}

.btn {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background: rgb(99, 187, 241);
  max-width: 100px;
  padding: .8em;
  border: none;
  border-radius: 3px;
  transition: all .5s;
  margin: 0;
  cursor: pointer;
}

.btn:hover {
  background: rgb(28, 149, 224);
}

.btn:active {
  background: rgb(0, 89, 145);
}