/* GLOBALS */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('reset.css');
/* @import url("social-widget.css"); */

:root {
  --primary-yellow: rgb(253, 239, 158);
  --primary-grey: rgb(75, 75, 75);
  --radius: 5px;
  --shadow: 
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

section {
  padding: 40px;
  position: relative;
}

p {
  margin-bottom: 20px;
  line-height: 1.4;
}

p:last-child {
  margin-bottom: 0;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  padding: 1em 2em;
  transition: all .3s ease-out;
  background: var(--primary-grey);
}

.navbar.shown {
  top: 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
  background-image: url("img/brush-stroke-banner-6.png");
}

.nav-link {
  color: rgb(202, 202, 202);
  transition: all .3s ease;
  position: relative;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2px;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-yellow);
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-link:hover {
  color: var(--primary-yellow);
}

.hero {
  height: 100vh;
}

.hero-main-img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 550px;
}

.hero-main-img > img {
  height: 100%;
  width: 1000px;
}

.hero-container {
  display: flex;
  position: absolute;
  width: 800px;
  top: 30%;
  left: 270px;
  box-shadow: 0 0 10px 0 rgb(122, 122, 122);
}

.hero-container-text {
  padding: 20px;
  text-align: left;
  background: #fff;
}

.hero-container-img > img {
  width: 800px;
}

#games {
  position: relative;
  height: 100vh;
  background: rgb(46, 46, 46);
}

.games-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game {
  position: relative;
  width: 100px;
  height: 35vh;
  margin: 0 5px;
  border-radius: 75px;
  transition: all .5s;
  overflow: hidden;
}

.overlay {
  background: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}

.game-name {
  text-align: center;
  position: absolute;
  top: 50%;
  right: -300px;
}

.game:nth-child(1) {
  background: url("../img/dc-icon.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.game:nth-child(2) {
  background: url("../img/cd-icon.jpg") no-repeat 80% 50%;
  background-size: cover;
}

.game:nth-child(3) {
 background: url("../img/dcm-icon.jpg") no-repeat 40% 50%; 
 background-size: cover;
}

.game:nth-child(4) {
  background: url("../img/lod-icon.jpg") no-repeat 95% 50%;
  background-size: cover;  
}

.game:nth-child(5) {
  background: url("../img/ml-icon.jpg") no-repeat 50% 50%;
  background-size: cover;  
}

.game:nth-child(6) {
  background: url("../img/wc-icon.jpg") no-repeat 50% 50%;
  background-size: cover;  
}

.game:nth-child(7) {
  background: url("../img/dl-icon.jpg") no-repeat 70% 50%;
  background-size: cover;  
}

.game:nth-child(8) {
  background: url("../img/tt-icon.png") no-repeat 60% 50%;
  background-size: cover;  
}

.game:nth-child(9) {
  background: url("../img/jh-icon.jpg") no-repeat 70% 50%;
  background-size: cover;  
}

.game:nth-child(odd) {
  margin-top: -30px;
}

.game:nth-child(even) {
  margin-top: 30px;
}

.game:hover {
  width: 35vh;
  height: 35vh;
  border-radius: 10px;
  margin-top: 0;
}

.game:hover > .overlay {
  opacity: .7;
}

.game > img {
  height: 100%;
}
