.hero-social {
    position: absolute;
    top: 45%;
    right: -7em;
  }
  
  .hero-social-row:nth-child(1) {
    background: #5373A8;
  }
  
  .hero-social-row:nth-child(2) {
    background: #49BAEA;
  }
  
  .hero-social-row:nth-child(3) {
    background: #3588B0;
  }
  
  .hero-social-row:nth-child(4) {
    background: #444444;
  }
  
  .hero-social-row {
    display: flex;
    align-items: center;
    margin-left: 7em;
    transition: all .5s ease;
    padding: .3em 0;
    font-weight: 600;
  }
  
  .hero-social-row:hover {
    margin-left: 0;
  }
  
  .hero-social-row p {
    width: 7em;
  }
  
  #photo-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
  }